export(ACTmath,
  casemod,
  equate.eq,
  equate.ln,
  equate,
  freqavg,
  freqbump,
  freqtab,
  fx,
  KBneat,
  kurt.freqtab,
  loglinear,
  mean.freqtab,
  print.equate,
  px,
  se.boot,
  se.eq,
  se.ln,
  skew.freqtab,
  synthetic,
  var.freqtab)