export(circ,
	circlearc,
	circle,
	center,
	radius,
	equip,
	equipercentile,
	lin,
	linear,
	equate,
	equate.list,
	as.equate.list,
	is.equate.list,
	"[.equate.list",
	equate.freqtab,
	equate.default,
	convert,
	as.equate,
	is.equate,
	summary.equate,
	summary.equate.list,
	print.summary.equate,
	plot.equate,
	plot.equate.list,
	print.equate,
	composite,
	composite.equate.list,
	composite.list,
	composite.default,
	as.composite,
	is.composite,
	print.composite,
	bootstrap,
	bootstrap.equate,
	bootstrap.freqtab,
	as.bootstrap,
	is.bootstrap,
	summary.bootstrap,
	plot.bootstrap,
	lnse,
	eqse,
	freqtab,
	as.freqtab,
	is.freqtab,
	mfreqtab,
	plot.freqtab,
	ufreqplot,
	bfreqplot,
	points.freqtab,
	summary.freqtab,
	descript,
	mean.freqtab,
	sd.freqtab,
	cov.freqtab,
	cor.freqtab,
	min.freqtab,
	max.freqtab,
	skew.freqtab,
	kurt.freqtab,
	fx,
	px,
	presmoothing,
	loglinear,
	freqbump,
	freqavg,
	synthetic,
	syntheticequip)