export(as.freqtab,
	cov.freqtab,
	descript,
	equate,
	equate.ca,
	equate.eq,
	equate.ln,
	equipercentile,
	freqavg,
	freqbump,
	freqtab,
	fx,
	kurt.freqtab,
	loglinear,
	max.freqtab,
	mean.freqtab,
	min.freqtab,
	plot.equate,
	plot.freqtab,
	print.equate,
	px,
	sd.freqtab,
	se.boot,
	se.eq,
	se.ln,
	skew.freqtab,
	synthetic)